* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  background-color: slategrey;
}

main {
  display: grid;
  grid-template-columns: 8rem 10rem 800px;
  grid-template-rows: 8rem 15rem 250px;
  background-color: #80fb7ee6;
  background-image: linear-gradient(62deg, #c1fb7ed1 0%, #2b8014 100%);
  width: 1150px;
  padding: 3px;
  margin: 25px 3px 3px 25px;
}

#title {
  font-size: 3rem;
}

#logo {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: auto;
  border-width: 3px;
  border-style: solid;
}

#title {
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
  margin-top: 50px;
  margin-left: 10px;
  font-family: 'Abril Fatface', cursive;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

section {
  height: 260px;
}

#images {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#images img {
  padding: 2px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  max-width: 275px;
  max-height: 250px;
}

#images > img:hover {
  border-color: black;
  cursor: pointer;
}

div {
  max-height: 200px;
  margin-top: 10px;
}

.results {
  max-width: 1000px;
  max-height: 250px;
  grid-column: 1 / 4;
  grid-row: 3 /4;
  margin-left: 25px;
  padding-bottom: 3px;
}

#myChart {
  max-height: 250px;
}

#text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin: auto;
  padding: 5px 3px;
  background-color: green;
  pointer-events: none;
  display: flex;
  justify-content: center;
}
